.articlePerfilBuscador{
    width: 100%;
    min-height: 700px;
    /* background: greenyellow; */
    float: left;
}

.divNombreUsuario{
    width: 100%;
    height: 100px;
    /* background: blue; */
    float: left;
}

.divNombreUsuario h2{
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
}

.contenedorPerfilBuscador{
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    /* background: pink;     */
    float: left;
}