.divPodcast{
    width: 40%;
    height: 200px;
    margin-left: 7%;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
    margin-top: 30px;
    float: left;
}

.divPodcastFoto{
    width: 40%;
    height: 180px;
    margin-top: 10px;
    margin-left: 5%;
    float: left;
}

.divPodcastFoto img{
    width: 100%;
    height: 180px;
}

.divPodcastTitulo{
    width: 50%;
    height: 200px;
    margin-left: 2%;
    float: left;
}

.divPodcastTitulo p{
    text-align: center;
    margin-top: 2em;
}

.divPodcastTitulo audio{
    margin-top: 2em;
    width: 94%;
    margin-left: 3%;
}

.divPodcastTitulo a{
    width: 45%;
    margin-top: 1em;
    margin-left: 5%;
    font-size: 14px;
    float: left;
    height: 10px;
}

.divPodcastTitulo input[type='button']{
    width: 45%;
    height: 30px;
    background: #282c34;
    margin-top: 1em;
    margin-left: 5%;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.divPodcastTitulo input[type='button']:hover{
    background: #515151;
}