.articlePerfil{
    width: 100%;
    min-height: 700px;
    float: left;
}

.divTituloPerfil{
    width: 100%;
    height: 50px;
    background: white;
    box-shadow: 0px 3px 3px grey;
    float: left;
}

.divTituloPerfil h2{
    text-align: center;
    margin-top: 10px;
}

.contenedorPerfil{
    width: 100%;
    margin-top: 5px;
    height: 645px;
    background: #F7F7F7;
    overflow-y: scroll;
    float: left;
}

.divSubtitulo{
    width: 100%;
    height: 50px;
    /* background: blueviolet; */
    float: left;
}

.divSubtitulo input{
    width: 12%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-left: 25%;
    background: #282c34;
    color: white;
    cursor: pointer;
    float: left;
}

.divSubtitulo input:hover{
    background: #515151;
}

.divSubtitulo h3{
    text-align: center;
    font-size: 30px;    
    margin-top: 10px;
    margin-left: 3%;
    float: left;
    /* margin-top: -15px; */
}

.contenidoPodcast{
    width: 100%;
    height: 595px;
    /* background: rosybrown; */
    float: left;
}

.divPodcast{
    width: 40%;
    height: 200px;
    margin-left: 7%;
    /* background: yellow; */
    border: 1px solid grey;
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
    margin-top: 30px;
    float: left;
}

.divPodcastFoto{
    width: 40%;
    height: 180px;
    margin-top: 10px;
    margin-left: 5%;
    float: left;
}

.divPodcastFoto img{
    width: 100%;
    height: 180px;
}

.divPodcastTitulo{
    width: 50%;
    height: 200px;
    margin-left: 2%;
    /* background: green; */
    float: left;
}

.divPodcastTitulo p{
    text-align: center;
    margin-top: 2em;
}

.divPodcastTitulo audio{
    margin-top: 2em;
    width: 94%;
    margin-left: 3%;
}

.divPodcastTitulo a{
    width: 45%;
    /* background: yellow; */
    margin-top: 1em;
    margin-left: 5%;
    font-size: 14px;
    float: left;
    height: 10px;
}

.divPodcastTitulo input[type='button']{
    width: 45%;
    height: 30px;
    background: #282c34;
    margin-top: 1em;
    margin-left: 5%;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.divPodcastTitulo input[type='button']:hover{
    background: #515151;
}