.articlePerfil{
    width: 100%;
    min-height: 700px;
    float: left;
}

.divTituloPerfil{
    width: 100%;
    height: 50px;
    background: white;
    box-shadow: 0px 3px 3px grey;
    float: left;
}

.divTituloPerfil h2{
    text-align: center;
    margin-top: 10px;
}

.contenedorPerfil{
    width: 100%;
    margin-top: 5px;
    height: 645px;
    background: #F7F7F7;
    overflow-y: scroll;
    float: left;
}

.divSubtitulo{
    width: 100%;
    height: 50px;
    /* background: blueviolet; */
    float: left;
}

.divSubtitulo input{
    width: 12%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-left: 25%;
    background: #282c34;
    color: white;
    cursor: pointer;
    float: left;
}

.divSubtitulo input:hover{
    background: #515151;
}

.divSubtitulo h3{
    text-align: center;
    font-size: 30px;    
    margin-top: 10px;
    margin-left: 3%;
    float: left;
    /* margin-top: -15px; */
}

.contenidoPodcast{
    width: 100%;
    height: 595px;
    /* background: rosybrown; */
    float: left;
}
